In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import glob

In [4]:
%xmode plain

Exception reporting mode: Plain

## Read in antenna data from LOFAR svn

In [5]:
data = pd.DataFrame();
for stationfile in glob.glob('/Users/dijkema/opt/lofar/src/MAC/Deployment/data/Coordinates/ETRF_FILES/*/*.csv'):
    stationframe = pd.read_csv(stationfile, skip_blank_lines=True)
    stationframe["STATIONNAME"] = stationfile.split("/")[-2]
    # RS106 has rubbish lines with all zeros
    stationframe = stationframe[stationframe["NAME"].str[0]!="0"]
    data = pd.concat([data, stationframe], ignore_index=True)
    if (stationframe["NAME"].str[1]==".").any():
        print(stationfile)
        break

Add a column `TYPE` with `LBA` and `HBA`:

In [6]:
data["TYPE"] = data["NAME"].str[0]+"BA"

For the centers (`CLBA`, `CHBA`, `CHBA0`, `CHBA1`), `TYPE` is the same as the name:

In [7]:
data.loc[data["NAME"].str[0]=="C", "TYPE"] = data.loc[data["NAME"].str[0]=="C", "NAME"].str.strip()

In [8]:
pd.value_counts(data[data["TYPE"].str[0]=="C"]["TYPE"])

CHBA     52
CLBA     52
CHBA1    24
CHBA0    24
Name: TYPE, dtype: int64

Add a column `ANTENNANUMBER` with the numeric part of `NAME`:

In [9]:
data["ANTENNANUMBER"] = 0

In [10]:
data.loc[data["NAME"].str[0]!="C", "ANTENNANUMBER"] = pd.to_numeric(data.loc[data["NAME"].str[0]!="C", "NAME"].str[1:])

Use `pyproj` to convert from ETRS x, y, z to ETRS lat, lon, height:

In [11]:
import pyproj

In [12]:
ecef = pyproj.Proj(proj='geocent', ellps='WGS84', datum='WGS84')
lla = pyproj.Proj(proj='latlong', ellps='WGS84', datum='WGS84')

In [13]:
(data["ETRS-LON"], 
 data["ETRS-LAT"], 
 data["ETRS-HEIGHT"]) = pyproj.transform(ecef, lla,
                                         data["ETRS-X"].values,
                                         data["ETRS-Y"].values,
                                         data["ETRS-Z"].values)

## Make tiles

In [14]:
def getcoord(stationname, num):
    """
    Get the LON and LAT coordinates of an HBA-antenna
    """
    queryres = data[(data["STATIONNAME"]==stationname) & (data["ANTENNANUMBER"]==num) & (data["TYPE"]=="HBA")]
    if len(queryres) != 1:
        raise Exception("Problem finding antenna "+str(num)+" for station"+stationname+": found "+len(queryres))
    return np.array([queryres["ETRS-LON"].iloc[0], queryres["ETRS-LAT"].iloc[0]])

Get the offset between the tiles in a station (by comparing the position of tile 0 with that next to and below it).

In [15]:
def numbelowfirst(stationname, subtype):
    """ Get the antenna number for when the number in a line is below zero.
    Stationtype must be CS, RS or other"""
    if stationname[0:2]=='CS' and subtype=='HBA0':
        return 3
    if stationname[0:2]=='CS' and subtype=='HBA1':
        return 27
    if stationname[0:2]=='RS' or stationname=='PL611':
        return 4
    if stationname=='FI609':
        return 8
    else:
        return 6

In [16]:
dirxs = {}
dirys = {}
for stationname in pd.unique(data["STATIONNAME"]):
    subtypes = [""]
    if stationname[0:2] == "CS":
        subtypes = ["HBA0", "HBA1"]
    for subtype in subtypes:
        firstantenna = 0
        if subtype == "HBA1":
            firstantenna = 24;
        ant0coord = getcoord(stationname, firstantenna)
        dirxs[stationname+subtype] = getcoord(stationname, firstantenna+1) - ant0coord
        highy = numbelowfirst(stationname, subtype)
        dirys[stationname+subtype] = getcoord(stationname, highy) - ant0coord

In [17]:
data["ETRS-WKT"] = ""
for index, rec in data.iterrows():
    if rec['TYPE'] != 'HBA':
        wkt = 'Point('+str(rec['ETRS-LON']) +' '+str(rec['ETRS-LAT'])+')';
    else:    
        xy=np.array([rec['ETRS-LON'],rec['ETRS-LAT']])

        # Find the offset vector between tiles
        subtype = ""
        if rec['STATIONNAME'][0:2] == "CS":
            if rec['ANTENNANUMBER'] >= 24:
                subtype = "HBA1"
            else:
                subtype = "HBA0"

        dirx = dirxs[rec['STATIONNAME'] + subtype]
        diry = dirys[rec['STATIONNAME'] + subtype]

        ul = xy - 0.5*dirx + 0.5*diry
        ur = xy + 0.5*dirx + 0.5*diry 
        lr = xy + 0.5*dirx - 0.5*diry 
        ll = xy - 0.5*dirx - 0.5*diry 

        wkt=('Polygon (('+str(ul[0])+' '+str(ul[1])+', '+ 
                          str(ur[0])+' '+str(ur[1])+', '+ \
                          str(lr[0])+' '+str(lr[1])+', '+ \
                          str(ll[0])+' '+str(ll[1])+', '+ \
                          str(ul[0])+' '+str(ul[1])+'))')

    data.set_value(index, "ETRS-WKT", wkt)

/anaconda/envs/school18/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

## Export to PostgreSQL

PostgreSQL wants column names to be lowercase, so make them lowercase:

In [18]:
data.columns = map(str.lower, data.columns)

In [19]:
data.columns

Index(['name', 'etrs-x', 'etrs-y', 'etrs-z', 'station-p', 'station-q',
       'station-r', 'rcu-x', 'rcu-y', 'stationname', 'type', 'antennanumber',
       'etrs-lon', 'etrs-lat', 'etrs-height', 'etrs-wkt'],
      dtype='object')

In [20]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://dijkema:hoepla@localhost:5432/lofargeo')

In [42]:
engine.execute("DROP TABLE IF EXISTS antennas");

In [43]:
data.to_sql('antennas', engine, index=False, if_exists="append")

Add geometry

In [44]:
with engine.begin() as connection:
    connection.execute("SELECT AddGeometryColumn('antennas', 'geom', 4258, 'POINT', 2, false);");

In [45]:
engine.execute('update antennas set geom = ST_SetSRID(ST_MakePoint("etrs-lon", "etrs-lat"), 4258)');

## NAA locations

In [46]:
data_naa = pd.read_csv("naa.csv", sep="\t")

In [47]:
data_naa["name"] = "CNAA"
data_naa["type"] = "CNAA"

In [48]:
data_naa.to_sql('antennas', engine, index=False, if_exists="append")

In [49]:
engine.execute('update antennas set geom = ST_SetSRID(ST_MakePoint("etrs-lon", "etrs-lat"), 4258)');

In [53]:
sqlfunc = """
 CREATE OR REPLACE FUNCTION utmzone(geometry)
   RETURNS integer AS
 $BODY$
 DECLARE
     geomgeog geometry;
     zone int;
     pref int;

 BEGIN
     geomgeog:= ST_Transform($1,4326);

     IF (ST_Y(geomgeog))>0 THEN
        pref:=32600;
     ELSE
        pref:=32700;
     END IF;

     zone:=floor((ST_X(geomgeog)+180)/6)+1;

     RETURN zone+pref;
 END;
 $BODY$ LANGUAGE 'plpgsql' IMMUTABLE
   COST 100;
"""

In [54]:
engine.execute(sqlfunc)

In [51]:
sqlfunc = """
CREATE OR REPLACE FUNCTION ST_Buffer_Meters(geometry, double precision)
RETURNS geometry AS
$BODY$
DECLARE
orig_srid int;
utm_srid int;
 
BEGIN
orig_srid:= ST_SRID($1);
utm_srid:= utmzone(ST_Centroid($1));

RETURN ST_transform(ST_Buffer(ST_transform($1, utm_srid), $2), orig_srid);
END;
$BODY$ LANGUAGE 'plpgsql' IMMUTABLE
COST 100;
"""

In [52]:
engine.execute(sqlfunc)

## Export to CSV

In [37]:
data.to_csv("allantennas.csv")

## Pretty station names

In [39]:
engine.execute("DROP TABLE IF EXISTS stationnames");

In [40]:
stations = pd.read_excel("/Users/dijkema/opt/lofarmap/stationsnamen.xlsx")

In [41]:
stations.to_sql('stationnames', engine, index=False, if_exists='append')

## Add generators

In [ ]:
!wget -qO- 'http://webkaart.hoogspanningsnet.com/layerdata.php?type=terr&bbox=-10.0%2C0.0%2C20.0%2C90.&zoom=16' | sed -e 's/"\([0-9]*\.[0-9]*\)"/\1/g'  > terr.geojson

In [ ]:
!wget -qO- 'http://webkaart.hoogspanningsnet.com/layerdata.php?type=stat&bbox=0.0%2C0.0%2C20.0%2C90.&zoom=16' | sed -e 's/"\([0-9]*\.[0-9]*\)"/\1/g' > stat.geojson